body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #3b6978;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}

.container-fluid {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10% !important;
    max-width: 90%;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: 0.5px solid #000000;
    -webkit-box-shadow: -7px 6px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 6px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 6px 14px 0px rgba(0, 0, 0, 0.75);
    background-color: #e4f9ff;

}

h1 {
    padding-top: 5%;
    margin: auto;
    text-align: center;
    font-size: 9vh !important;
    color: #3b6978;
    text-shadow: -2px -1px 8px rgba(151, 150, 150, 1);
    text-shadow: 2px 1px 0px rgba(151, 150, 150, 1);
    -webkit-text-stroke: 1px black;
}

.form-control {
    color: #ee6f57;
    border-radius: 15px;
    border-color: #ee6f57;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.btn.btn-lg {
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    color: white;
    float: right;
    border: none;
    background-color: #ee6f57;
    cursor: pointer;
    font-size: 3vh;
    margin-top: -6vh;
    text-align: center;

}

.btn.btn-lg:hover {
    color: #f1f3f8;
    background-color: #dd5e46;

}

.page-footer.font-small.indigo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #3b6978;
    margin-top: 1vh !important;
    height: 9%;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.page-footer.font-small.indigo p {
    font-size: 2vh !important;
    padding-top: 3vh;
    font-weight: 300;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}